/* .testimonials .container{
    background-image: url(../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
} */

.testimonials .container{
    background-image: url(../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
}


.testimonials .card{
    border-left: 1px solid teal;
    
    border-radius: 1em;
    box-shadow: teal;
}

.testimonials .card .card-footer{
    background: transparent;
    border-top: ;
}